    .header{
        background-color: white;
        height: 55px;
        display: flex;
        justify-content: space-between;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid rgb(219, 219, 219);
        z-index: 100;
    }


    .left_part{
        /* background-color: lightblue; */
        width: 180px;
        display: flex;
        align-items: center;
    }
    .hamburger_menu{
        height: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .youtube_logo{
        height: 20px;
    }



    .middle_part{
        /* background-color: lightpink; */
        flex:1;      /*This makes it more flexible unlike width */
        margin-left: 70px;
        margin-right: 40px;
        max-width: 500px;
        /* width: 500px; */

        display: flex;
        align-items: center;
    }
    .search_bar{
        flex: 1;
        height: 36px;
        width: 0;
        font-size: 16px;
        padding-left: 10px;
        border: 1px solid  rgb(187, 186, 186);
        box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
        outline: none;
    }
    .search_bar::placeholder{
        font-size: 16px;
        padding-right: 10px;
    }
    .search_bar:focus{
        border-color:rgba(48, 111, 220);
    }

    .search_button{
        width: 66px;
        height: 37px;
        background-color: rgb(240, 240, 240);
        border: 1px solid  rgb(187, 186, 186);
        margin-left: -1px;
        margin-right: 10px;
    }
    .search_icon{
        height: 24px;
    }

    .voice_search_button{
        width: 40px;
        height: 40px;
        background-color: rgb(245, 245, 245);
        border: none;
        border-radius: 50%;
    }
    .voice_search_icon{
        height: 24px;
    }




    .right_part{
        /* background-color: lightblue; */
        width: 180px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        flex-shrink: 0;
    }
    .upload_icon,
    .youtube_apps_icon,
    .notification_icon{
        height: 24px;
    }
    .user_picture{
        width: 36px;
        border-radius: 50%;
    }


    /* tooltip */
    .search_button,
    .voice_search_button,
    .upload_icon_div,
    .youtube_apps_icon_div,
    .notification_icon_div,
    .user_picture_div{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .search_button .tooltip,
    .voice_search_button .tooltip,
    .upload_icon_div .tooltip,
    .youtube_apps_icon_div .tooltip,
    .notification_icon_div .tooltip,
    .user_picture_div .tooltip{
        position: absolute;
        bottom: -30px;

        font-size: 12px;
        color: white;
        background-color: gray;
        padding: 2px 4px 2px 4px;
        opacity: 0;
        transition: opacity 0.2s ease;
        pointer-events: none;
        white-space: nowrap;
    }
    .search_button:hover .tooltip,
    .voice_search_button:hover .tooltip,
    .upload_icon_div:hover .tooltip,
    .youtube_apps_icon_div:hover .tooltip,
    .notification_icon_div:hover .tooltip,
    .user_picture_div:hover .tooltip{
        opacity: 1;
        transition-delay: 0.6s;
    }
    

    .notification_count{
        position: absolute;
        top: -2px;
        right: -5px;

        background-color: rgb(228, 10, 10);
        color: white;
        font-weight: bold;
        font-size: 8px;
        padding:3px 6px 3px 6px;
        border-radius: 10px;
    }
