            .social_buttons_hover_E1{
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: sans-serif;
            }

            .social_nav{
                display: flex;
                gap:20px ;
            }

            .nav_buttons{
                width: 60px;
                height: 60px;
                border-radius: 50px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(241, 241, 241);
                box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 6px 12px rgba(0,0,0,0.15), 0 10px 20px rgba(0,0,0,0.1);
                position: relative;
                transition: width 0.4s, box-shadow 0.3s, background 0.4s;
            }

            .nav_buttons i{
                position: absolute;
                font-size: 30px;
                transition: all 0.4s ease;
            }

            .nav_buttons span{
                font-size: 18px;
                font-weight: 700;
                color: white;
                letter-spacing: 1px;
                transform: scale(0.5);
                opacity: 0;
                transition: all 0.4s ease;
            }

            .nav_buttons:hover{
                width: 150px;
                border-radius: 12px;
                box-shadow: 0 6px 12px rgba(0,0,0,0.2), 0 12px 30px rgba(0,0,0,0.25);
            }

            .nav_buttons:hover i{
                transform: scale(0);
                opacity: 0;
            }

            .nav_buttons:hover span{
                transform: scale(1);
                opacity: 1;
            }

            .twitter:hover{
               background-color: #1da1f2;
            }
            .instagram:hover{
                background-color: #e1306c;
            }
            .youtube:hover{
                background-color: #ff0000;
            }
            .facebook:hover{
                 background-color: #1877f2;
            }
            .linkedin:hover{
                background-color: #0077b5;
            }



            @media(max-width:500px){
                .video_card{
                    grid-template-columns: 1fr;
                }

             
            .nav_buttons{
                transition: transform 0.4s ease, box-shadow 0.3s, background 0.4s;
            }

              .nav_buttons i{
                font-size: 21px;
                transition: all 0.4s ease;
            }

             .nav_buttons span{
                visibility: hidden;
            }

              .nav_buttons:hover{
                width: 60px;
                height: 60px;
                border-radius: 50px;
                transform: scale(1.1) translateY(-4px);
                box-shadow: 0 6px 12px rgba(0,0,0,0.2), 0 12px 30px rgba(0,0,0,0.25);
            }

             .nav_buttons:hover i{
                opacity: 1;
                transform: scale(1.5);
                color: white;
            }

            
            .twitter:hover{
               background-color: #1da1f2;
            }
            .instagram:hover{
                background-color: #e1306c;
            }
            .youtube:hover{
                background-color: #ff0000;
            }
            .facebook:hover{
                 background-color: #1877f2;
            }
            .linkedin:hover{
                background-color: #0077b5;
            }

            }